:root {
    background-color: #ff471a;
    background-image: linear-gradient(90deg, #ff471a, rgb(224, 186, 13));
    --clr-light: #f4f4f4;
    --clr-dark: #333;
    --clr-warning: rgb(99, 36, 36);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
  
 body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--clr-light);
  
    display: grid;
    grid:
      "header header header header" auto
      "...... lists  active ......" auto /
      1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.title {
    grid-area: header;
    align-items: center;
    justify-content: center;
    color: white;
    min-height: 20vh;
    display: flex;
    text-shadow: 2px 2px black;
}
  
.all-tasks {
    grid-area: lists;
}
  
.task-list {
    font-size: 1.2rem;
    line-height: 1.7;
    list-style: circle;
    padding-left: 1.1em;
    min-height: 5rem;
}
  
.list-name {
    cursor: pointer;
    transition: ease all 0.5s;
}
  
.list-name:hover {
    opacity: 0.7;
    padding: 2px;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}
  
form {
    display: flex;
}

.new.list::placeholder {
    color: white;
    opacity: .6;
}
  
:-ms-input-placeholder {
    color: white;
    opacity: .6;
}
  
.btn {
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
}
  
.btn.create {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 0.5s ease-in;
}
  
.btn.create:hover {
    opacity: 0.7;
}
  
.btn.delete {
    font-size: 1rem;
    transition: color 0.5s;
}
  
.btn.delete:hover {
    color: var(--clr-warning);
}
  
.new {
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    outline: none;
    padding: 0.25em;
  
    transition: border-bottom 150ms ease-in;
    order: 2;
}
  
.new::placeholder {
    opacity: 0.4;
}
  
.new:focus {
    border-bottom-width: 3px;
}
  
.new:focus::placeholder {
    opacity: 0.15;
}
  
.new.list {
    font-size: 1.1rem;
}
  
.new.task {
    margin-bottom: 0;
}
  
.active-list {
    font-weight: 700;
    padding-left: 2px;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}
  
.todo-list {
    --spacer: 2rem;
  
    grid-area: active;
    background: var(--clr-light);
    color: var(--clr-dark);
}
  
.todo-header {
    padding: var(--spacer);
    background: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.list-title {
    margin: 0 1em 0 0;
}
  
.task-count {
    margin: 0;
    font-size: 1rem;
}
  
.todo-body {
    padding: var(--spacer);
    position: relative;
}
  
.new-task-creator .create {
    color: var(--clr-primary);
}
  
[type="checkbox"] {
    opacity: 0;
    position: absolute;
}
  
.task label {
    display: flex-inline;
    align-items: center;
    position: relative;
}
  
.task {
    position: relative;
    margin-bottom: 1.25em;
}
  
.task::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -0.5em;
    height: 1px;
    background: currentColor;
    opacity: 0.1;
}
  
.custom-checkbox {
    --size: 0.75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}
  
.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
    transform: scale(1.2);
}
  
[type="checkbox"]:checked + label .custom-checkbox {
    background: var(--clr-primary);
    border-color: var(--clr-primary);
    box-shadow: inset 0 0 0px 2px white;
}
  
[type="checkbox"]:checked + label {
    opacity: 0.5;
}
  
.task label::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    left: 1.5em;
    top: 50%;
    height: 3px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
  
[type="checkbox"]:checked + label::after {
    transform: scaleX(1);
    transform-origin: left;
}
  
.delete-stuff {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -35px;
    color: var(--clr-light);
}

.menubar {
    position: absolute;
    padding: 2rem;
    width: 250px;
    top: 3em;
    left: -250px;
    transition: all 1s ease;
}

.menubar ul {
    list-style: none;
}

.menubar a{
    text-decoration: none;
    color: white;
    line-height: 3rem;
    padding-left: 0.5rem;
    transition: all 0.5s ease;
}

.menubar ul li a:hover {
    padding-left: 1rem;
    font-size: 1.7rem;
    line-height: 4rem;
    transition: all 0.5s ease;
    text-shadow: 1px 1px black
}

#check {
    display: none;
}

label #menuopen,
label #menuclose {
    position: absolute;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    transition: all 0.5s ease;
    border-radius: 10%;
    top: 1.85em;
    left: 2.5rem;
}

label #menuopen:hover,
label #menuclose:hover {
    background-color: rgb(224, 186, 13);
    transition: all 0.5s ease;
}

label #menuopen {
    padding: 8px 10px;
}

label #menuclose {
    z-index: 5;
    padding: 8px 13px;
    display:none;
}

#check:checked ~ .menubar {
    left: 0;
    transition: all 1s ease;
}

#check:checked ~ label #menuopen {
    display: none;
}

#check:checked ~ label #menuclose {
    display: initial;
}

.task {
    overflow-wrap: break-word;
}

footer {
    display: flex;
    font-size: 1rem;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}