* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ff471a;
    background-image: linear-gradient(90deg, #ff471a, rgb(224, 186, 13));
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
}

header {
    text-shadow: 2px 2px black;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    color: #333;
}

form button {
    color: rgb(224, 186, 13);
    background-color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}

form button:hover {
    color: #ff471a;
    transition: all 0.5s ease;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
    max-height: 21rem;
    overflow: auto;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    color: rgb(224, 186, 13);
    background-color: white;
    cursor: pointer;
    transition: all 0.5s ease;
    border: none;
    padding: 0.7rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.trash-btn:hover{
    color: rgb(236, 34, 34);
    transition: all 0.5s ease;
}

.complete-btn:hover {
    color: rgb(58, 221, 58);
    transition: all 0.5s ease;
}

.todo-item {
    padding: 0 0.5rem;
    min-width: 25rem;
    max-width: 50rem;
    overflow: auto;
}

.scrollable-element {
    scrollbar-color: red yellow;
  }

.fa-minus-square,
.fa-check-square {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(50deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color: #ff471a;
    width: 11.5rem;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: rgb(224, 186, 13);
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    pointer-events: none;
    transition: all 0.5s ease;
}

.select:hover::after{
    background: #ff471a;
    transition: all 0.5s ease;
}

/*Menu*/
.menubar {
    position: absolute;
    padding: 2rem;
    width: 250px;
    top: 3em;
    left: -250px;
    transition: all 1s ease;
}

.menubar ul {
    list-style: none;
}

.menubar a{
    text-decoration: none;
    color: white;
    line-height: 3rem;
    padding-left: 0.5rem;
    transition: all 0.5s ease;
}

.menubar ul li a:hover {
    padding-left: 1rem;
    font-size: 1.7rem;
    line-height: 4rem;
    transition: all 0.5s ease;
    text-shadow: 1px 1px black
}

#check {
    display: none;
}

label #menuopen,
label #menuclose {
    position: absolute;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    transition: all 0.5s ease;
    border-radius: 10%;
    top: 1.85em;
    left: 2.5rem;
}

label #menuopen:hover,
label #menuclose:hover {
    background-color: rgb(224, 186, 13);
    transition: all 0.5s ease;
}

label #menuopen {
    padding: 8px 10px;
}

label #menuclose {
    z-index: 5;
    padding: 8px 13px;
    display:none;
}

#check:checked ~ .menubar {
    left: 0;
    transition: all 1s ease;
}

#check:checked ~ label #menuopen {
    display: none;
}

#check:checked ~ label #menuclose {
    display: initial;
}

footer {
    display: flex;
    font-size: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}